h1{
 
    color:#33c1ff;
    background:#cae8f5;
  }

  #container{
    background:#decaf5;
    width:50%;
    margin:5%;
    border:solid #a360f0;
    padding:2%;
  }
  label{
    display:inline-block;
    width:30%;
  }