

.window{
    width: 90%; 
    height:80vh;
    background-color:white;
    display:flex;
    flex-wrap:wrap;
    position:relative;
    padding:5%;
    overflow:hidden;
}

.word{
color: rgba(0,0,0,0);
font-size:auto;
/* font-size: 12px; */
padding:1%;
position:absolute;
transition: all 3s;
}

.word:hover{
    color:rgba(0,0,0,1);
}